[Unit]
Description=Hello_world UWSGI servisi 
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/var/www/webservice/hello_world
ExecStart=/usr/bin/uwsgi --ini uwsgi.ini

[Install]
WantedBy=multi-user.target
